named-parameter-jdbc-template/.gradle/
named-parameter-jdbc-template/.idea/
named-parameter-jdbc-template/build/
named-parameter-jdbc-template/out/
named-parameter-jdbc-template.iml
named-parameter-jdbc-template.ipr
named-parameter-jdbc-template.iws
